h1 {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;

    text-shadow:
        0 0 5px hwb(24 7% 9%),
        0 0 10px hwb(24 7% 9%),
        0 0 20px hwb(24 7% 9%),
        0 0 40px hwb(24 7% 9%),
        0 0 80px hwb(24 7% 9%);

    animation: glow 2s ease-in-out infinite alternate;
}