h1 {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;

    text-shadow:
        0 0 5px hwb(24 7% 9%),
        0 0 10px hwb(24 7% 9%),
        0 0 20px hwb(24 7% 9%),
        0 0 40px hwb(24 7% 9%),
        0 0 80px hwb(24 7% 9%);

}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background-color: rgb(236, 255, 127);
}

#try {
    position: absolute;
    /* REQUIRED for movement */
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    top: 100px;
    /* starting position */
    left: 100px;
    /* starting position */
}

#moveBtn {
    font-size: 2rem;
}

#homePage {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-align: center;

    text-shadow:
        0 0 5px hwb(207 22% 11%),
        0 0 10px hwb(209 0% 29%),
        0 0 20px hwb(214 0% 14%),
        0 0 40px hwb(244 3% 25%),
        0 0 80px hwb(239 7% 9%);

}

p {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f0e0ad;
    text-align: center;

    text-shadow:
        0 0 5px hwb(210 0% 97%),
        0 0 10px hwb(210 9% 85%),
        0 0 20px hwb(215 12% 83%),
        0 0 40px hwb(243 15% 77%),
        0 0 80px hwb(236 14% 81%);


}